/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* nav ul a,
nav .brand-logo {
  color: #444;
} */

p {
  line-height: 2rem;
}

/* .sidenav-trigger {
  color: #26a69a;
} */

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .row {
    flex-direction: column;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* Helpers */
.text-special {
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Custom */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #064273;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #064273;
}
body {
  background: #f2f2f2;
}
#index-banner .parallax img {
  bottom: 5%;
}
.logo {
  width: 80px;
  height: auto;
}
#index-banner .container h1 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.parallax-container {
  display: flex;
  justify-content: start;
  align-items: end;
  border-radius: 2px;
}
.parallax-container .container {
  display: flex;
  justify-content: start;
}
.parallax-container .container .row {
  margin-left: unset;
}
.parallax-container .section .header {
  padding: 0 6px 4px !important;
  background: rgba(0, 0, 0, .2) !important;
  border-radius: 2px;
  border: unset !important;
  text-transform: capitalize;
  font-weight: 300;
}
.section li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-weight: 300;
  text-transform: capitalize;
}
.section li i {
  margin-right: 10px;
}
.section .row{
  display: flex;
  gap: 10px;
}
.section .row .col {
  position: relative;
  padding: .75em;
  padding-bottom: 4em;
  background: white;
  border: 1px solid #26a69a;
  border-radius: 2px;
}
.section .row .col .icon-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section .row .col .icon-block h2 svg {
  filter: drop-shadow(5px 10px 4px rgba(20,20,20,.5));
  transition: transform .2s ease-in-out;
}
.section .row .col:hover .icon-block h2 svg {
  transform: translateY(-2px);
}
.section .row .col .icon-block h5 {
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200;
  transition: transform .2s ease-in-out;
}
.section .row .col:hover .icon-block h5 {
  transform: translateY(2px);
}
.section .row .col .icon-block h5 small {
  font-size: small;
}
.section .row .col .icon-block span.badge {
  position: absolute;
  bottom: .75em;
  right: .75em;
  font-size: 1em;
  text-transform: capitalize;
  transition: transform .2s ease-in-out;
}
.section .row .col:hover .icon-block span.badge {
  transform: scale(1.05);
}
.section .row .col .icon-block span.badge.purple {
  bottom: 2.5em;
}
#accomodation.container span.badge {
  position: static;
  bottom: 0;
  margin-right: 20px;
}
#accomodation.container ul li small {
  margin-left: 5px;
}
#contacts .section .row .col {
  padding: 1rem;
}
#contacts li {
  display: flex;
  gap: 10px;
}
a {
  color: #26a69a;
}
